#waves {
    width: 100vw;

    position: fixed;
    left: 0;
    bottom: 0;

    z-index: 0;
    /* opacity: 0; */

    /* transition: opacity 0s, bottom 3s ease-in-out; */
    transition: opacity 0s;

    -moz-animation: onload 0s ease-in 0.5s forwards;
    -webkit-animation: onload 0s ease-in 0.5s forwards; /* Firefox */
    -o-animation: onload 0s ease-in 0.5s forwards; /* Safari and Chrome */
    animation: onload 0s ease-in 0.5s forwards; /* Opera */

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#waves.white-theme {
    opacity: 0.3;
}

#waves.dark-theme {
    opacity: 0.1;
}

.wave {
    width: 100%;
    height: 400px;

    margin-top: auto;

    position: absolute;
    left: 0;
    bottom: 0;

    background: url("../../assets/web/wave.png");
    background-size: 1000px 400px;
}

.wave#wave1 {
    bottom: -15px;

    z-index: 1000;
    opacity: 0.8;
    animation: animateFw 8s linear infinite;
}

.wave#wave2 {
    bottom: -20px;

    z-index: 999;
    opacity: 0.4;
    animation: animateBw 8s linear infinite;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.6;
    animation: animateFw 16s linear infinite;
}

.wave#wave4 {
    bottom: -10px;

    z-index: 999;
    opacity: 0.2;
    animation: animateBw 16s linear infinite;
}


@media only screen and (min-height: 1200px) {
    #waves {
        bottom: 0px;
    }
}

@media only screen and (max-height: 900px) {
    #waves {
        bottom: -50px;
    }
}

@media only screen and (max-height: 600px) {
    #waves {
        bottom: -200px;
    }
}

@keyframes onload {
    to {
        transition: opacity 0.2s;
    }
}

@-webkit-keyframes onload {
    to {
        transition: opacity 0.2s;
    }
}

@keyframes animateFw {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateBw {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-position-x: 0px;
    }
}