<footer id="footer">
    <ul>
        <!-- <li class="no-border">
            <p>Contact me</p>
        </li> -->
        <li>
            <a class="icon-btn" href="https://www.facebook.com/thestampr" target="_blank" 
            class="icon-small fa fa-facebook">
            </a>
        </li>
        <li class="no-border">
            <a class="icon-btn" href="https://www.instagram.com/__stampr/" target="_blank" 
            class="icon-small fa fa-instagram">
            </a>
        </li>
        <li class="no-border">
            <a class="icon-btn" href="https://www.linkedin.com/in/stampr/" target="_blank" 
            class="icon-small fa fa-linkedin">
            </a>
        </li>
        <li class="no-border">
            <a class="icon-btn" href="https://github.com/thestampr" target="_blank" 
            class="icon-small fa fa-github">
            </a>
        </li>
    </ul>
</footer>
