<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="white-theme" [ngClass]="{'dark-theme': theme.is_dark}">
    <a id="icon-small" class="fa fa-github" href="https://github.com/thestampr" target="_blank">
    </a>
    GitHub
    <!-- <a href="https://github.com/thestampr" target="_blank">by stampr</a> -->
    
    <!-- <nav>
        <a href="https://github.com/thestampr/MyWeb" target="_blank">Source code</a>
    </nav> -->
</footer>
