* {
    transition: all 0.2s ease-in-out;
}

footer {
    color: var(--white3);
    background-color: var(--dark2);

    display: flex;
    height: 10px;
    width: 100vw;

    bottom: 0;
    left: 0;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;

    font-size: 15px;

    /* background-color: gold; */
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
    footer {
        font-size: 12px;

        padding-left: 80px;
        padding-right: 80px;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        font-size: 10px;

        padding-left: 50px;
        padding-right: 50px;
    }
}