* {
    transition: all 0.2s ease-in-out;
}

#personal {
    width: 800px;
    height: 500px;
}

.me {
    width: 250px;
    height: 250px;
    
    clip-path: circle(50% at 50% 50%);

    margin: 50px;
    object-fit: cover;
}

.aura {
    filter: drop-shadow(0 0 10px var(--alpha-scheme-color))
}

.hidden-modal {
    animation: fadeOut ease 0.2s;
}

.hidden-img {
    animation: fadeOut-popup ease 0.2s;
}

#content {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#about {
    display: flex;
    align-items: center;

    margin-top: 50px;
}

#greeting h1 {
    text-align: left;
    margin-top: 0px;
}

.buttons {
    display: flex;
    margin-top: 30px;

    gap: 10px;
}

#contact {
    border: unset;
    background-color: var(--scheme-color);
    color: var(--white1);

    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); */
}

#resume {
    border: unset;

    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); */
}

section {
    margin-bottom: 150px;
}


@media only screen and (max-width: 1200px) {
    .me {
        width: 200px;
        height: 200px;
    }

    #about {
        font-size: 80%;
        line-height: 140%;
    }
}

@media only screen and (max-width: 900px) {
    #about {
        flex-direction: column;
        font-size: 70%;
    }

    #greeting h1 {
        text-align: center;
    }

    .buttons {
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .me {
        width: 150px;
        height: 150px;

        margin: 25px;
    }

    #about {
        font-size: 55%;
    }

    #greeting {
        margin-top: 30px;
        min-width: 300px;
    }

    .about {
        margin-top: 50px;
    }

    p {
        padding-left: 10px;
    }
}