* {
    transition: all 0.2s ease-in-out;
}

#personal {
    width: 800px;
    height: 500px;
}

.me {
    width: 250px;
    height: 250px;
    
    clip-path: circle(50% at 50% 50%);

    margin: 50px;
    object-fit: cover;
}

#container .me {
    cursor: pointer;
}

#frame {
    filter: drop-shadow(0 0px 20px rgba(0, 0, 0, 0.1));
}

#modal-img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    display: none;
    position: fixed;
    z-index: 100;

    overflow: auto;

    background: rgba(28, 28, 28, 0.75);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
    animation: fadeIn ease 0.2s;
}

#my-img {
    width: 450px;
    height: 450px;

    margin: auto;
    display: block;
    
    margin-top: 150px;
    
    animation: fadeIn-popup ease 0.2s;
}

.hidden-modal {
    animation: fadeOut ease 0.2s;
}

.hidden-img {
    animation: fadeOut-popup ease 0.2s;
}

#content {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    margin-top: 50px;
    margin-bottom: 150px;
}

.container {
    display: flex;
    align-items: center;
}

#greeting h1 {
    text-align: left;
    margin-top: 0px;
}

.buttons {
    display: flex;
    margin-top: 30px;

    gap: 10px;
}

#contact {
    border: unset;
    background-color: var(--scheme-color);
    color: var(--white1);
}


@media only screen and (max-width: 1200px) {
    .me {
        width: 200px;
        height: 200px;
    }

    .container {
        font-size: 80%;
        line-height: 140%;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        font-size: 70%;
    }

    #greeting h1 {
        text-align: center;
    }

    .buttons {
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .me {
        width: 150px;
        height: 150px;

        margin: 25px;
    }

    .container {
        font-size: 55%;
    }

    #greeting {
        margin-top: 30px;
        min-width: 300px;
    }

    #modal-img .me {
        width: 300px;
        height: 300px;
        
        margin-top: 200px;
    }

    .about {
        margin-top: 50px;
    }

    p {
        padding-left: 10px;
    }
}