<app-page>
    <div id="content">
        <section class="scroll-reveal">
            <div id="about">
                
                <!-- <div class="aura"> -->
                    <img id="me" src="assets/images/profile-5.jpg" [cdkContextMenuTriggerFor]="Image" ModalView #me /> 
                <!-- </div> -->
    
                <span id="greeting">
                    <h1>
                        Peeradon Rungkanawut
                        <span>Fullstack Developer</span>
                    </h1>
    
                    <p>
                        I have passion in programming and primarily use Python
                        as my main programming language. Currently, I'm also studying Angular
                        for web development.
                        <br>
                        <br>
                        I enjoy learning different things to meet my developmental goals. <br>
                    </p>
    
                    <div id="buttons">
                        <button class="animated-btn primary" (click)="router.navigateByUrl('resume')">View resume</button>
                        <button class="animated-btn" (click)="router.navigateByUrl('contact')">Contact me</button>
                    </div>
                </span>
            </div>
        </section>

        <!-- <section class="scroll-reveal">
            <code-block class="section-content block" 
            [typingAnimation]="true" 
            [displayCursor]="true" 
            [showLinenumber]="true"
            [allowCopy]="false"
            [lines]="[
                'Hello world!', 
                'Nice to reached you!'
            ]" />
        </section> -->

        <section class="scroll-reveal">
            <app-flex-card-box 
                name="What I do"
                [items]="[
                    {icon: 'fa-code', title: 'Backend', descriptions: ['C, C++, Python, JavaScript, TypeScript']}, 
                    {icon: 'fa-sticky-note-o ', title: 'Frontend', descriptions: ['Angular, Vue']}, 
                    {icon: 'fa-cube', title: '3D Art', descriptions: ['Modeling, Lighting, Rendering', 'Blender'], url: '3d'}, 
                    {icon: 'fa-ellipsis-h', title: 'and more', descriptions: ['Traveling, Gaming']}, 
                ]"
            />
        </section>

        <!-- <section class="scroll-reveal">
            <app-flex-card-box 
                name="What I offer"
                [items]="[
                    {title: 'Cool things'}, 
                    {title: 'Clean work'}, 
                ]"
            />
        </section> -->

        <section class="scroll-reveal">
            <app-swiper 
                name="Lifestyle picture" 
                [portrait]="true"
                [images]="[
                    'assets/images/lifestyle/0.jpg', 
                    'assets/images/lifestyle/1.jpg', 
                    'assets/images/lifestyle/2.jpg', 
                    'assets/images/lifestyle/3.jpg', 
                    'assets/images/lifestyle/4.jpg', 
                    'assets/images/lifestyle/5.jpg', 
                ]"
            />
        </section>

    </div>
</app-page>

<ng-template #Image>
    <div class="ContextMenu" cdkMenu>
        <button class="ContextMenu-Item" cdkMenuItem (click)="me.click()">View image</button>
    </div>
</ng-template>