<app-page>
    <div id="content" class="white-theme" [ngClass]="{'dark-theme': theme.is_dark}">
        <div id="container" class="container about">

            <img class="me" src="assets/images/profile-2.jpg" [cdkContextMenuTriggerFor]="Image" (click)="ModalView()" /> 

            <span id="greeting">
                <h1>Peeradon Rungkanawut</h1>

                <p>
                    I am interested in backend programming and primarily use Python  <br>
                    as my main programming language. Currently, I'm also studying Angular <br>
                    for web development.<br>
                    <br>
                    I enjoy learning different things to meet my developmental goals. <br>
                </p>

                <div class="buttons">
                    <button id="resume" class="animated-btn" (click)="router.navigateByUrl('resume')">View resume</button>
                    <button id="contact" class="animated-btn" (click)="router.navigateByUrl('contact')">Contact me</button>
                </div>
            </span>
        </div>

        <app-flex-card-box 
            name="What I do"
            [items]="[
                {icon: 'fa-code', title: 'Coding', descriptions: ['C / Cpp / Python / TypeScript']}, 
                {icon: 'fa-code', title: 'Web Design', descriptions: ['Angular / VueJs']}, 
                {icon: 'fa-cube', title: '3D Art', descriptions: ['Modeling, Lighting, Rendering', 'Blender']}, 
            ]"
        />

        <!-- <app-flex-card-box 
            name="What I offer"
            [items]="[
                {icon: '', title: 'Cool things', descriptions: ['Lorem ipsum dolor sit amet consectetur adipisicing elit']}, 
                {icon: '', title: 'Clean code', descriptions: ['Lorem ipsum dolor sit amet consectetur adipisicing elit']}, 
            ]"
        />

        <app-swiper 
            name="Lifestyle picture" 
            [portrait]="true"
            [images]="[
                'assets/images/profile.jpg', 
                'assets/images/profile-2.jpg', 
            ]"
        /> -->

    </div>
    <app-footer />
</app-page>

<div id="modal-img" (click)="ModalClose()">
    <div id="frame">
        <img id="modal-image" class="me" src="assets/images/profile-2.jpg" (contextmenu)="false" />
    </div>
</div>

<ng-template #Image>
    <div class="ContextMenu" cdkMenu>
        <button class="ContextMenu-Item" cdkMenuItem (contextmenu)="false" (click)="ModalView()">View image</button>
        <!-- <button class="ContextMenu-Item" cdkMenuItem>Download</button> -->
    </div>
</ng-template>