<header class="floating" [ngClass]="{'darkpage-header': theme.is_dark, 'whitepage-header': !theme.is_dark}" (contextmenu)="false">
    <nav>
        <a (click)="router.navigateByUrl('aboutme')" [ngClass]="{'active': isActive('aboutme')}">About me</a>
        <!-- <a (click)="router.navigateByUrl('resume')">Resume</a> -->
        <a (click)="router.navigateByUrl('contact')" [ngClass]="{'active': isActive('contact')}">Contact</a>
    </nav>

    <button id="option-btn" mat-button [cdkMenuTriggerFor]="Option">⁝</button>
</header>

<ng-template #Option>
    <div class="ContextMenu" cdkMenu>
        <button class="ContextMenu-Item" cdkMenuItem (contextmenu)="false" (click)="ToogleTheme()">
            {{theme.is_dark? "Light mode" : "Dark mode"}}
        </button>
    </div>
</ng-template>