* {
    transition: all 0.2s ease-in-out;
}

div {
    margin: 0;

    display: flex;
    flex-wrap: wrap;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

button {
    box-shadow: unset;
    font-weight: unset;

    min-width: unset;
    min-height: unset;
    height: min-content;
}

#option-btn {
    width:30px;
    height: 30px;

    border: none;
    background-color: transparent;
    margin-right: 20px;

    font-size: 15px;
}

/* .white-theme #option-btn:hover {
    background-color: var(--white4);
}

.dark-theme #option-btn:hover {
    background-color: var(--dark4);
} */

#navbtn {
    border: none;
    background-color: transparent;
    margin-right: 20px;
    align-self: center;
}

#navbtn:hover {
    text-decoration: underline;
}

.topbar {
    width: 100%;
    height: 50px;

    justify-content: right;
    align-content: center;
}

#linebreak {
    width: 1px;
    height: auto;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#modeswitch {
    width: 32px;
    height: 16px;
    min-width: unset;
    min-height: unset;

    cursor: pointer;

    border: 1px solid rgba(28, 28, 28, 0.2);
    border-radius: 100px;
    box-shadow: 0;
    padding: 0;

    overflow: hidden;
    position: relative;
    right: 0px;
    /* margin: 10px; */
}

.toblack {
    background: var(--dark4);
    border: 1px solid rgba(28, 28, 28, 0.2);
}

.towhite {
    background: var(--white1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#switch {
    position: absolute;
    transition: clip-path 0.5s ease-in-out;

    cursor: pointer;
}

.onblack {
    background-color: var(--white2);
    clip-path: circle(25% at 25% 50%);
}

.onwhite {
    background-color: var(--dark4);
    clip-path: circle(25% at 75% 50%);
}


@media only screen and (max-width: 1200px) {
    button {
        font-size: 80%;
    }
}

@media only screen and (max-width: 900px) {
    .topbar button:not(#modeswitch) {
        margin-right: 15px;
    }

    #linebreak {
        margin-right: 10px;
    }

    #modeswitch {
        width: 30px;
        height: 15px;
    }
}

@media only screen and (max-width: 600px) {
    button {
        font-size: 70%;
    }

    .topbar button:not(#modeswitch) {
        margin-right: 5px;
    }

    #modeswitch {
        width: 26px;
        height: 13px;
    }
}