<header class="floating whitepage-header" [ngClass]="{'darkpage-header': Theme.is_dark}" (contextmenu)="false">
    <nav>
        <a (click)="Router.navigateByUrl('aboutme')">About me</a>
        <a (click)="Router.navigateByUrl('resume')">Resume</a>
        <a (click)="Router.navigateByUrl('contact')">Contact</a>
    </nav>

    <button id="option-btn" class="white-theme" [ngClass]="{'dark-theme': Theme.is_dark}" mat-button [cdkMenuTriggerFor]="Option">⁝</button>
</header>

<ng-template #Option>
    <div class="ContextMenu" cdkMenu>
        <button class="ContextMenu-Item" cdkMenuItem (contextmenu)="false" (click)="ToogleTheme()">
            {{Theme.is_dark? "Light mode" : "Dark mode"}}
        </button>
    </div>
</ng-template>