* {
    transition: all 0.2s ease-in-out;
}

#card {
    min-width: 400px;
    min-height: 100px;
    margin: 10px;
    display: flex;
    padding: 20px;

    border-radius: 10px;
    flex: 1 0 200px;

    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    /* justify-content: center; */
    align-items: center;
    
    transition: scale 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    animation: WalkIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes WalkIn {
    0% {
        opacity: 0;
        margin-top: 20px;
    }
    100% {
        opacity: 1;
        margin-top: 10px;
     }
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
    #card {
        min-width: 350px;
    }
}