#card {
    min-width: 200px;
    min-height: 100px;
    margin: 10px;
    display: flex;
    padding: 20px;

    border-radius: 10px;
    flex: 1 0 200px;

    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.whitepage {
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(28, 28, 28, 0.2);
}

.darkpage {
    background: rgba(28, 28, 28, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.2);
}