* {
    transition: all 0.2s ease-in-out;
}

#card {
    min-width: 200px;
    min-height: 100px;
    /* margin: 10px; */
    display: flex;
    padding: 20px;

    border: none;
    border-radius: var(--rounded);
    flex: 1 0 200px;

    /* justify-content: center; */
    align-items: center;
    
    transition: 
    scale 0.3s ease-in-out, 
    box-shadow 0.3s ease-in-out, 
    background-color 0.2s ease-in-out;

    animation: WalkIn ease 1s;
}

.whitecard {
    background-color: var(--alpha-white2);
    /* border: 1px solid var(--alpha-dark); */
    color: var(--dark3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.darkcard {
    background-color: var(--alpha-dark2);
    /* border: 1px solid var(--alpha-white); */
    color: var(--white3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

.whitecard:not(.glass) {
    background-color: var(--white2);
    /* border: 1px solid var(--alpha-dark); */
    color: var(--dark3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.darkcard:not(.glass) {
    background-color: var(--dark2);
    /* border: 1px solid var(--alpha-white); */
    color: var(--white3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

#card.fullwidth {
    width: 100%;
}

#card.fullheight {
    height: 100%;

    align-items: flex-start;
    flex-direction: column;
}

#card.justborder {
    background-color: transparent !important;
    box-shadow: none !important;

    backdrop-filter: unset !important;
    -webkit-backdrop-filter: unset !important;
}

#card.justborder.whitecard {
    border: 1px solid var(--alpha-dark);
    color: var(--dark3);
}

#card.justborder.darkcard {
    border: 1px solid var(--alpha-white);
    color: var(--white3);
}



#card ::ng-deep app-flex-card-box .flex-container {
    border-radius: 10px;
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
}