* {
    transition: all 0.2s ease-in-out;
}

.fa {
    width: 50px;
    height: 50px;

    font-size: 30px;
    text-align: center;
    text-decoration: none;

    border-radius: 50%;
    padding: 10px;
}

#container {
    width: 100%;
    height: 100dvh;
    
    margin: 0;

    display: flex;
    position: relative;

    transition: height 0s !important;
}

#scroll-page {
    width: 100%;
    height: 100dvh;

    padding: 0px;
    padding-top: 60px;

    display: flex;
    justify-content: center;
    position: relative;
    overflow: auto;
    overflow-x: hidden !important;
    scrollbar-gutter: stable both-edges;

    /* background-color: gold; */

    transition: height 0s !important;
}

div {
    margin: 0;

    display: flex;
    flex-wrap: wrap;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#content-wrapper {
    width: 100dvw;
    height: fit-content;

    position: relative;
    display: flex;
    justify-content: center;

    padding-bottom: 4dvh;

    transition: height 0s !important;
}

#to-top {
    margin-left: auto;

    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    z-index: 500;

    transition: margin-right 0s, 
    background-color 0.2s ease-in-out,
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
}

#to-top.visible {
    opacity: 1;
    visibility: visible;
}

#to-top.hide {
    opacity: 0 !important;
    visibility: hidden !important;
}

#bottom-shadow {
    width: 100dvw;
    height: 16dvh;

    position: sticky;

    bottom: 0;
    left: 0;
    right: 0;

    margin-bottom: 0;

    z-index: 100; 
  
    transition: height 0.2s ease, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    /* background: linear-gradient(0deg, red 25%, rgba(255,255,255,0) 100%); */
}

#bottom-shadow.hide {
    height: 0;
    opacity: 0;
}

#bottom-shadow.dark-theme {
    background: linear-gradient(0deg, #21232f 25%, rgba(255,255,255,0) 100%);
}

#bottom-shadow.white-theme {
    background: linear-gradient(0deg, #c3c5d9 25%, rgba(255,255,255,0) 100%);
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
    #to-top {
        scale: 0.9;
    }
}