* {
    transition: all 0.2s ease-in-out;
}

.fa {
    width: 50px;
    height: 50px;

    font-size: 30px;
    text-align: center;
    text-decoration: none;

    border-radius: 50%;
    padding: 10px;
}

#container {
    width: 100%;
    height: calc(100% - 60px);
    
    margin: 0;

    display: flex;
    position: relative;
}

#scroll-page {
    height: 100%;

    display: flex;
    justify-content: center;
    position: relative;

    animation: fadeIn ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    overflow-y: overlay !important;
    overflow-x: hidden !important;
    scrollbar-gutter: stable both-edges;

    /* overflow: scroll;
    overflow-x: hidden;
    overflow-y: overlay; */

    /* background-color: gold; */
}

/* .whitepage {
    background-color: var(--white2);
    color: var(--dark3);
}

.darkpage {
    background-color: var(--dark2);
    color: var(--white3);
} */

div {
    margin: 0;

    display: flex;
    flex-wrap: wrap;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#to-top {
    position: fixed;

    bottom: 0;
    right: 0;

    margin: 35px;

    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

#waves {
    position: absolute;
    left: 0;
    bottom: 0;

    z-index: 0;
    opacity: 0.3;
}

.dark-theme #waves {
    opacity: 0.1;
}

.wave {
    width: 100%;
    height: 400px;

    margin-top: auto;

    position: absolute;
    left: 0;
    bottom: 0;

    background: url("../../assets/web/wave.png");
    background-size: 1000px 400px;
}

.wave#wave1 {
    bottom: -15px;

    z-index: 1000;
    opacity: 0.8;
    animation: animateFw 8s linear infinite;
}

.wave#wave2 {
    bottom: -20px;

    z-index: 999;
    opacity: 0.4;
    animation: animateBw 8s linear infinite;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.6;
    animation: animateFw 16s linear infinite;
}

.wave#wave4 {
    bottom: -10px;

    z-index: 999;
    opacity: 0.2;
    animation: animateBw 16s linear infinite;
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
    #container {
        height: calc(100% - 50px);
    }

    #to-top {
        margin: 30px;
    }
}

@media only screen and (max-width: 600px) {
    #container {
        height: calc(100% - 40px);
    }

    #to-top {
        margin: 14px;
    }
}


@keyframes animateFw {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}


@keyframes animateBw {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-position-x: 0px;
    }
}