#content {
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

h1 {
    padding-bottom: 0px;
    margin-bottom: 100px;

    font-size: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    margin-bottom: 100px;
}

#back {
    border: unset;
    background-color: var(--white1);
    color: var(--dark3);
}