* {
    transition: all 0.2s ease-in-out;
}

#content {
    height: 72vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    margin-bottom: 80px;
}

h1 {
    padding-bottom: 0px;
    margin-bottom: 100px;

    font-size: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    position: relative;
}

h1 > span {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
}

h1 > #broken0 {
    transform-origin: 50% 80%;
    animation: broken0 5s forwards ease-in;
}

h1 > #broken4 {
    float: right;
    transform-origin: 58% 78%;
    animation: broken4 5s forwards ease-in;
}

p {
    margin-bottom: 100px;
}

#back {
    border: unset;
    background-color: var(--white1);
    color: var(--dark3);
}

@keyframes broken0 {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    60% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform-origin: 50% 80%;
    }
    100% {
        transform: rotate(-14deg);
        -webkit-transform: rotate(-14deg);
        transform-origin: 45% 78%;
    }
}

@keyframes broken4 {
    0% {
        transform: rotate(-0deg);
        -webkit-transform: rotate(-0deg);
    }
    40% {
        transform: rotate(-0deg);
        -webkit-transform: rotate(-0deg);
    }
    60% {
        transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
    }
    100% {
        transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
    }
}