<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-page>
    <div id="content" class="white-theme" [ngClass]="{'dark-theme': Theme.is_dark}">
        <h1>Contact me</h1><br>

        <div id="icons">
            <a id="icon" href="https://www.facebook.com/thestampr" target="_blank" class="animated-btn fa fa-facebook"></a>
            <a id="icon" href="https://www.instagram.com/__stampr/" target="_blank" class="animated-btn fa fa-instagram"></a>
            <a id="icon" href="https://www.linkedin.com/in/peeradon-rungkanawut-7ba166268/" target="_blank" class="animated-btn fa fa-linkedin"></a>
            <a id="icon" href="https://github.com/thestampr" target="_blank" class="animated-btn fa fa-github"></a>
            <button id="hire" class="animated-btn" (click)="OnHireMe()">HIRE ME</button>
        </div>

        <app-card>
            <div id="personal">
                <i class="fa fa-envelope icon"></i>
                thestampmc@gmail.com
                <br>
                <i class="fa fa-phone icon"></i>
                090-935-1529
            </div>
        </app-card>

    </div>
</app-page>
<app-footer />