* {
    transition: all 0.2s ease-in-out;
}

.fa {
    width: 50px;
    height: 50px;

    font-size: 30px;
    text-align: center;
    text-decoration: none;

    border-radius: 50%;
    padding: 10px;

    color: var(--dark3);
    background-color: var(--white1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.personal-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 400px;
}

.personal-item:hover #clone-btn {
    opacity: 100%;
}

#clone-btn {
    width: 40px;
    height: 40px;

    min-width: unset;
    min-height: unset;

    font-size: 15px;
    text-align: center;
    text-decoration: none;

    border: none;
    background-color: unset;
    box-shadow: none;

    border-radius: 50%;
    padding: 10px;
    margin-left: auto;

    opacity: 0%;
}

#content {
    margin-top: 100px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */

    margin-bottom: 100px;

    gap: 15px;
    padding: 10px; 
}

#buttons * {
    cursor: pointer;
}

#hire {
    height: 50px;
    min-height: unset;

    align-self: center;
    border: none;
    
    font-weight: 500;
    font-size: 15px;

    border: unset;
    background-color: var(--white1);
    color: var(--dark3);
}

.or {
    opacity: 0.5;
    font-size: 15px;
}

.dark-theme #clone-btn {
    color: var(--white3);
}

#icon-small {
    margin-top: 5px;
    margin-bottom: 0px;
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
    .fa {
        width: 45px;
        height: 45px;
    
        font-size: 25px;
    }

    #hire {
        height: 45px;

        align-self: flex-end;
    }
}

@media only screen and (max-width: 600px) {
    #buttons {
        gap: 12px;
    }

    #hire {
        height: 40px;
    }

    .personal-item {
        width: 300px;
    }

    .fa {
        width: 40px;
        height: 40px;
    
        font-size: 20px;
    }

    .or {
        font-size: 12px;
    }
}