<div id="viewport">
    <canvas id="model-viewer" #canvas></canvas>
    <div id="loader">
        <div class="center">
            <p id="loading-state">
                Loading 3D model...
            </p>
            <div id="loader-bar">
                <div id="loader-bar-progress"></div>
            </div>
        </div>
    </div>
    <div id="viewport-bottom">
        <div id="model-tools" >
            <a id="setting" class="fa fa-gear" [cdkMenuTriggerFor]="Settings" [cdkMenuPosition]="positions"></a>
            <a id="expand" class="fa {{isFullscreen? 'fa-compress': 'fa-expand'}}" (click)="toggleFullscreen()"></a>
        </div>
    </div>
    <!-- <div id="viewport-details"></div> -->
</div>

<ng-template #Settings>
    <div class="ContextMenu" cdkMenu>
        <button class="ContextMenu-Item" *ngFor="let res of Resolutions" cdkMenuItemCheckbox [cdkMenuItemChecked]="resolution === res" (click)="setResolution(res)">
            {{res}}
        </button>
    </div>
</ng-template>