* {
    transition: all 0.2s ease-in-out;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#container {
    width: 80%;
    height: auto;

    margin-top: 50px;
}

#frame {
    width: 60%;
    aspect-ratio: 16/9;

    border-radius: 5px;
    overflow: hidden;

    position: relative;
}

#model-viewer {
    width: 100%;
    height: 100%;

    cursor: grab;
}

#model-viewer:active {
    cursor: grabbing;
}

#loader {
    width: 100%;
    height: 100%;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    opacity: 1;
    visibility: visible;

    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

#loader>div {
    width: fit-content;

    margin: 0;

    text-align: center;
    color: var(--dark1);
}

#loader-bar {
    width: 100%;
    height: 5px;

    background-color: var(--alpha-dark);
    border-radius: 100px;

    margin-top: 5px;

    overflow: hidden;
}

#loader-bar-progress {
    width: 0%;
    height: 100%;

    background-color: var(--scheme-color);
    border-radius: 100px;
    
    transition: width 0.5s ease-in-out;
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
    #container {
        width: 100%;
        margin-top: 0px;
    }

    #frame {
        width: 100%;
        aspect-ratio: 3/4;
    }
}

@media only screen and (max-width: 600px) {
}