<div class="flexable" [ngClass]="{'fullsize': one_col}">
    <h2>{{name}}</h2>

    <div class="flex-container">
        <div id="flexable-item" class="flex-container-item {{item.url===undefined? '': 'clickable'}}" 
            [ngClass]="{'fullsize': one_col}" 
            *ngFor="let item of items; let i = index"
            (click)="item.url===undefined? false: router.navigateByUrl(item.url)">

            <div id="item-icon">
                <i id="item-icon" class="fa {{item.icon}} icon-large" ></i>
            </div>

            <div id="item-details">
                <h3>
                    {{item.title}}
                </h3>
                <div id="item-description">
                    <p *ngFor="let description of item.descriptions;">
                        {{description}} <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>