<div class="flexable" [ngClass]="{'fullsize': one_col}">
    <h2>{{name}}</h2>

    <div id="flex-container" [ngClass]="{'dark-theme': theme.is_dark, 'white-theme': !theme.is_dark}">
        <div class="flexable-item glass"
            [ngClass]="{'fullsize': one_col}" 
            *ngFor="let item of items; let i = index">

            <div class="item-icon">
                <i class="fa {{item.icon}} icon-large" ></i>
            </div>

            <div class="item-details">
                <span class="item-header-wrapper">
                    <h3>
                        {{item.title}}
                    </h3>
                    <button class="desktop item-ab-btn animated-btn glass" *ngIf="item.url" (click)="router.navigateByUrl(item.url)">learn more</button>
                </span>
                <div class="item-description">
                    <p *ngFor="let description of item.descriptions;">
                        {{description}} <br>
                    </p>
                </div>
            </div>
            <button class="mobile item-ab-btn animated-btn glass" *ngIf="item.url" (click)="router.navigateByUrl(item.url)">learn more</button>
        </div>
    </div>
</div>