#container {
    width: 80%;
    height: auto;

    margin-top: 50px;

    position: relative;
}

#viewer {
    width: 60%;
}

#details {
    width: 40%;
    height: 100%;

    padding-left: 20px;
}

.column {
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    width: 100%;
    
    margin: 0;
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
    #container {
        width: 100%;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 600px) {
}