<app-page>
    <div id="content" class="white-theme" [ngClass]="{'dark-theme': Theme.is_dark}">
        <!-- <app-card [fill]="false">
            <app-flex-card-box 
                name="Education"
                [one_col]="true"
                [items]="[
                    {icon: 'fa-mortar-board', title: 'High School Certificate', descriptions: 'Prachinratsadornamroong School'}, 
                    {icon: 'fa-mortar-board', title: 'Bachelor of Engineering', descriptions: 'Rajamangala university of technology thanyaburi'}, 
                ]"
            />
        </app-card> -->

        <div class="grid-content">
            <div class="side-field grid-item">
                <app-card>
                    <div class="personal">
                        Personal
                    </div>
                </app-card>
                <app-card>
                    <div class="personal-extend">
                        Personal extend
                    </div>
                </app-card>
            </div>

            <div class="content-field grid-item">
                <app-card>
                    <div class="skills">
                        Skills
                    </div>
                </app-card>
                <app-card>
                    <div class="education">
                        Educations
                    </div>
                </app-card>
                <app-card>
                    <div class="exp">
                        Work Experience
                    </div>
                </app-card>
            </div>
        </div>

        <button id="download" class="animated-btn" (click)="Backend.DownloadCV()">
            Download Resume 
        </button>
    </div>
    <app-footer />
</app-page>