* {
    transition: all 0.2s ease-in-out;
}

.card div {
    width: 100%;
    overflow-x: hidden;
}

.image {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 40px;
}

.me {
    width: 200px;
    height: 200px;
    
    clip-path: circle(50% at 50% 50%);

    object-fit: cover;
}

.card-name {
    opacity: 0.4;
    font-size: 14px;
}

#content {
    width: 1300px;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#download {
    align-self: center;
    margin: 50px;
    width: 200px;
    height: 50px;
    border: none;

    font-weight: 500;

    background-color: var(--white1);
    color: var(--dark3);
}

.animated-card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9); */
}

.grid-content {
    display: grid;
    grid-template-columns: 300px 800px;

    gap: 50px;
}

.section-spacing {
    margin-top: 20px;
}

.section-name {
    margin-top: 20px;

    opacity: 0.4;
    font-size: 14px;

    display: flex;
    position: relative;
    align-items: center;
}

.section-name > .section-extra {
    opacity: 1.0;
}

.section-value {
    font-size: 18px;

    display: flex;
    position: relative;
    align-items: center;
}

ul {
    margin-top: 0px;
    padding-left: 20px;
}

.section-extra {
    font-size: 14px;

    width: 100%;
    opacity: 0.5;
    text-align: right;
    position: absolute;

    /* top: 0; */
    right: 0;
    bottom: 2px;
}

.grid-item {
    display: flex;
    gap: 20px;

    flex-direction: column;
}

.side-field {
    display: flex;
}

.auto-height {
    height: auto;
    padding-bottom: 10px;
}

/* .personal {
    height: 500px;
}

.personal-extend {
    height: 300px;
}

.skills, .education {
    height: 350px;
}

.exp {
    height: 200px;
} */

.linebreak {
    width: 80%;
    height: 1px;
    opacity: 0.6;

    margin-left: auto;
    margin-right: auto;

    justify-self: center;
}

.grid-linebreak {
    display: none;
}

.section-linebreak {
    margin-top: 20px;
}

.line-white {
    background-color: var(--alpha-dark);
}

.line-dark {
    background-color: var(--alpha-white);
}

.timeline-item {
    width: 100%;
    height: 120px;
    min-height: 120px;

    overflow: hidden;
    float: left;

    display: flex;
    flex-direction: row;

    gap: 10px;
}

.timeline-head {
    max-width: fit-content;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.timeline-dot {
    min-width: 18px;
    min-height: 18px;

    width: 18px;
    height: 18px;

    top: 0;
    left: 0;

    border: 4px solid var(--alpha-dark);
    border-radius: 50%;
    margin-top: 2px;
    margin-bottom: 2px;

    display: inline-block;

    background-color: transparent;
}

.timeline-line {
    width: 4px;
    height: 100%;

    margin-left: 7px;
    margin-right: 7px;

    bottom: 0;
    left: 0;

    display: inline-block;

    background-color: var(--alpha-dark);
}

.timeline-content {
    width: auto;
    height: auto;

    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
}

.timeline-content > .section-name {
    margin-top: 2px;
    margin-bottom: 10px;
}

.darktheme .timeline-dot {
    border: 4px solid var(--alpha-white);
}

.darktheme .timeline-line {
    background-color: var(--alpha-white);
}


mat-progress-bar {
    height: 10px;
    width: 70%;

    display: inline-block;
    
    right: 0;
    margin-left: auto;
}

:host ::ng-deep mat-progress-bar .mdc-linear-progress__bar-inner {
    border-color: var(--scheme-color);
    border-top-width: 1000px; /* full height */
}


@media only screen and (max-width: 1200px) {
    .grid-content {
        grid-template-columns: 200px 600px;
    
        gap: 40px;
    }

    .me {
        width: 120px;
        height: 120px;
    }
    
    .section-name, .card-name {
        font-size: 10px;
    }
    
    .section-name, .section-linebreak {
        margin-top: 15px;
    }
    
    .section-value {
        font-size: 14px;
    }
    
    .section-extra {
        font-size: 12px;
    }

    ul {
        padding-left: 16px;
    }

    .timeline-dot {
        min-width: 14px;
        min-height: 14px;

        width: 14px;
        height: 14px;
    }
    
    .timeline-line {
        margin-left: 5px;
        margin-right: 5px;
    }

    mat-progress-bar {
        height: 8px;
        /* width: 70%; */
    }
}

@media only screen and (max-width: 900px) {
    .grid-content {
        display: flex;
        grid-template-columns: unset;
        flex-direction: column;

        justify-content: center;
    
        /* gap: 20px; */
    }

    .grid-item  {
        width: 500px;
    }

    .me {
        width: 150px;
        height: 150px;
    }
    
    .section-name, .card-name {
        font-size: 12px;
    }
    
    .section-value {
        font-size: 16px;
    }
    
    .section-extra {
        font-size: 14px;
    }

    .grid-linebreak {
        display: block;
    }

    ul {
        padding-left: 18px;
    }

    .timeline-dot {
        min-width: 16px;
        min-height: 16px;

        width: 16px;
        height: 16px;
    }
    
    .timeline-line {
        margin-left: 6px;
        margin-right: 6px;
    }

    mat-progress-bar {
        height: 10px;
        width: 65%;
    }
}

@media only screen and (max-width: 600px) {
    .grid-item  {
        width: 300px;
    }

    mat-progress-bar {
        width: 50%;
    }
}