<app-page>
    <div id="content" class="white-theme" [ngClass]="{'dark-theme': Theme.is_dark}">
        <!-- <app-card [fill]="false">
            <app-flex-card-box 
                name="Education"
                [one_col]="true"
                [items]="[
                    {icon: 'fa-mortar-board', title: 'High School Certificate', descriptions: 'Prachinratsadornamroong School'}, 
                    {icon: 'fa-mortar-board', title: 'Bachelor of Engineering', descriptions: 'Rajamangala university of technology thanyaburi'}, 
                ]"
            />
        </app-card> -->

        <div class="grid-content">
            <div class="side-field grid-item">
                <app-card class="card">
                    <div class="auto-heigh">
                        <div class="card-name">Personal</div>

                        <div class="image">
                            <img class="me" src="assets/images/profile-2.jpg" /> 
                        </div>

                        <div class="section-name">Name</div>
                        <div class="section-value">
                            Peeradon Rungkanawut
                        </div>

                        <div class="section-name">Birth date</div>
                        <div class="section-value">
                            5 Apr 2001
                        </div>

                        <div class="section-name">Gender</div>
                        <div class="section-value">
                            Male
                        </div>

                        <div class="section-name">Nationality</div>
                        <div class="section-value">
                            Thailand
                        </div>

                    </div>
                </app-card>
                <app-card class="card">
                    <div class="auto-heigh">
                        <!-- <div class="card-name">Personal extend</div> -->

                        <div class="section-name">Interests</div>
                        <div class="section-value">
                            Python developer
                        </div>
                        <div class="section-value">
                            Frontend developer
                        </div>
                        <div class="section-value">
                            Angular / React dev
                        </div>

                        <div class="section-linebreak linebreak" [ngClass]="{'line-dark': Theme.is_dark, 'line-white': !Theme.is_dark}"></div>

                        <div class="section-name">Languages</div>
                        <div class="section-value">
                            English
                        </div>

                        <div class="section-name">Toeic</div>
                        <div class="section-value">
                            520
                        </div>
                    </div>
                </app-card>
            </div>

            <!-- <div class="grid-linebreak linebreak" [ngClass]="{'line-dark': Theme.is_dark, 'line-white': !Theme.is_dark}"></div> -->

            <div class="content-field grid-item">
                <app-card class="card">
                    <div class="skills">
                        <div class="card-name">Skills</div>
                    </div>
                </app-card>
                <app-card class="card">
                    <div class="education">
                        <div class="card-name">Educations</div>
                    </div>
                </app-card>
                <app-card class="card">
                    <div class="exp">
                        <div class="card-name">Work Experience</div>
                    </div>
                </app-card>
            </div>
        </div>

        <button id="download" class="animated-btn" (click)="Backend.DownloadCV()">
            Download Resume 
        </button>
    </div>
    <app-footer />
</app-page>