* {
    transition: all 0.2s ease-in-out;
}

/* *::marker {
    color: var(--scheme-color);
} */

p {
    margin-top: 0px;

    font-size: 16px;
}

.card div {
    width: 100%;
    overflow-x: hidden;
}

.image {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 30px;
}

.me {
    width: 150px;
    height: 150px;
    
    clip-path: circle(50% at 50% 50%);

    object-fit: cover;

    /* cursor: pointer; */
}

.card-name {
    font-size: 12px;

    position: relative;
    padding-bottom: 2px;
}

.card-name > .section-extra {
    top: 0;
    right: 0;
    opacity: 0.4;
}

::ng-deep .whitecard .card-name {
    border-bottom: 0.6px solid var(--alpha-dark);
}

::ng-deep .darkcard .card-name {
    border-bottom: 0.6px solid var(--alpha-white);
}

#resume-content {
    padding: 20px;
    margin-bottom: 50px;

    /* border-radius: 40px; */

    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: gold; */
}

.no-background {
    background: none;
}

#content-footer {
    width: 100%;
    height: 50px;

    position: relative;
    text-align: center;
    margin: 32px;
}

.download-btn {
    width: 200px;
    height: 50px;

    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
}

.download-btn.sticky {
    z-index: 600;
}

/* .download-btn:disabled {
    opacity: 1;
} */

.dark-theme + .download-btn:disabled {
    color: var(--alpha-white);
    background-color: var(--alpha-scheme-color);
}

.white-theme + .download-btn:disabled {
    color: var(--alpha-white3);
    background-color: #a7aad2;
}

#download-frame {
    width: 300px;
    height: auto;

    background-color: var(--white1);
    color: var(--dark3);

    display: flex;
    flex-direction: column;

    padding: 10px;
    padding-top: 50px;
    overflow: hidden;

    border: none;
    border-radius: 25px;

    font-weight: 500;

    /* transition: max-height 0.2s ease-in-out, padding-top 0.2s ease-in-out; */
}

#download-frame > button {
    height: 40px;
    min-height: unset;

    box-shadow: unset;
    background-color: transparent;
    color: var(--dark3);

    border-radius: 20px;
    border: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: color 0s, background-color 0s;
    
    /* background-color: aqua; */
}

#download-frame > button a {
    transition: color 0s, background-color 0s;
}

#download-frame > button:hover {
    background-color: var(--scheme-color);
    color: var(--white1);
}

#download-frame > button:hover a {
    color: var(--white1);
}

#download-frame > #download-expand-header {
    width: 100%;
    height: 50px;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    color: var(--dark3);

    padding-top: 14px;
    margin: 0;

    text-align: center;
    font-size: 16px;
}

#download-frame > .linebreak {
    width: 250px;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

#download-frame > *:disabled {
    opacity: 0.4 !important;
}

#download-frame a {
    color: var(--dark3);
    cursor: pointer;

    margin-left: 10px;
}

.modal-bg:not(.open)>#download-frame {
    scale: 75%;
    opacity: 0;
}

.modal-bg.open>#download-frame {
    scale: 100%;
    opacity: 1;
}

.no-margin-top {
    margin-top: 0px !important;
}

.animated-card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9); */
}

.personal {
    padding-bottom: 8px;
}

.grid-content {
    display: grid;
    grid-template-columns: 300px 800px;

    gap: 18px;
}

.section-spacing {
    margin-top: 18px;
}

.section-name {
    margin-top: 18px;

    opacity: 0.4;
    font-size: 12px;

    display: flex;
    position: relative;
    align-items: center;
}

.section-name > .section-extra {
    opacity: 1.0;
}

.section-value {
    font-size: 18px;

    display: flex;
    position: relative;
    align-items: center;
}

ul {
    margin-top: 0px;
    padding-left: 20px;
}

li {
    font-size: 16px;
    position: relative;
}

.section-extra {
    font-size: 12px;

    width: 100%;
    opacity: 0.5;
    text-align: right;
    position: absolute;

    /* top: 0; */
    right: 0;
    bottom: 1px;
}

.grid-item {
    display: flex;
    gap: 18px;

    flex-direction: column;
}

.side-field {
    display: unset;

    /* background-color: aqua; */
}

.saving .side-field ::ng-deep app-card #card {
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
}

.saving .side-field {
    display: flex;
    position: relative;
}

.side-field ::ng-deep app-card #card {
    width: 100%;
    min-height: 88dvh;
    height: fit-content;

    /* position: absolute; */
    position: sticky;

    top: 20px;
    bottom: 0;
    left: 0;

    align-items: start;
}

.auto-height {
    height: auto;
    padding-bottom: 10px;
}

.grid-linebreak {
    display: none;
}

.section-linebreak {
    margin-top: 20px;
}

.timeline-item {
    width: 100%;
    height: auto;
    min-height: 120px;

    float: left;

    display: flex;
    flex-direction: row;
    /* position: relative; */

    gap: 8px;
}

.timeline-head {
    max-width: fit-content;
    height: inherit;

    display: flex;
    flex-direction: column;
}

.timeline-dot {
    min-width: 18px;
    min-height: 18px;

    width: 18px;
    height: 18px;

    top: 0;
    left: 0;

    /* border: 4px solid var(--alpha-dark); */
    border: 4px solid var(--scheme-color);
    border-radius: 50%;
    margin-top: 2px;
    margin-bottom: 2px;

    display: inline-block;

    background-color: transparent;
}

.timeline-line {
    width: 4px;
    height: 100%;

    margin-left: 7px;
    margin-right: 7px;

    /* opacity: 0.5; */
    /* background-color: var(--alpha-dark); */
    background-color: var(--scheme-color);

    border-radius: 10px;
}

.timeline-content {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;

    padding-top: 2px;

    border-radius: 10px;
}

.timeline-content > .section-name {
    margin-top: 0px;
    margin-bottom: 10px;
}

.timeline-content > .auto-height {
    padding-left: 5px;
}

#bar {
    height: 10px;
    width: 70%;

    display: inline-block;

    right: 0;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

progress {
    height: 10px;
    width: 70%;

    display: inline-block;

    right: 0;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;

    border: 0;
    border-radius: 100px;
}

progress::-webkit-progress-bar {
    border: 0;
    height: 10px;
    border-radius: 100px;

    transition: background-color 0.2s ease-in-out;
}

.white-theme progress::-webkit-progress-bar {
    background-color: var(--alpha-dark);
}

.dark-theme progress::-webkit-progress-bar {
    background-color: var(--alpha-white);
}

/* progress::-webkit-progress-value {
    height: 10px;

    border: 0;
    border-radius: 100px;

    background-color: var(--scheme-color);

    transition: width 1s ease-in-out;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode: both; 
}

progress::-moz-progress-bar {
    border: 0;
    height: 10px;
    border-radius: 100px;
}

progress[value] {
    background-color: none;
    border-radius: 100px;
} */


#skills .mat-expansion-panel-header {
    height: 40px;
    padding: 0;
}

#skills .mat-expansion-panel {
    background: unset;
    box-shadow: unset;
}

#skills .mat-expansion-panel, .mat-expansion-panel * {
    cursor: pointer;
}


@media only screen and (max-width: 1200px) {
    .grid-content {
        grid-template-columns: 200px 600px;
    
        /* gap: 36px; */
    }

    .me {
        width: 100px;
        height: 100px;
    }
    
    .section-name, .card-name {
        font-size: 12px;
    }
    
    .section-name, .section-linebreak {
        margin-top: 15px;
    }
    
    .section-value {
        font-size: 12px;
    }
    
    .section-extra {
        font-size: 12px;
    }

    ul {
        padding-left: 16px;
    }

    li, p {
        font-size: 12px;
    }

    .timeline-dot {
        min-width: 14px;
        min-height: 14px;

        width: 14px;
        height: 14px;
    }
    
    .timeline-line {
        margin-left: 5px;
        margin-right: 5px;
    }

    progress {
        height: 8px;
    }
}

@media only screen and (max-width: 900px) {
    .side-field {
        display: flex;
        position: relative;
    
        /* background-color: aqua; */
    }
    
    .side-field ::ng-deep app-card #card {
        min-height: unset;
        height: 100%;
    }

    .grid-content {
        display: flex;
        grid-template-columns: unset;
        flex-direction: column;

        justify-content: center;
    
        /* gap: 18px; */
    }

    .grid-item  {
        width: 500px;
    }

    .me {
        width: 120px;
        height: 120px;
    }
    
    .section-name, .card-name {
        font-size: 12px;
    }
    
    .section-value {
        font-size: 16px;
    }
    
    .section-extra {
        font-size: 12px;
    }

    .grid-linebreak {
        display: block;
    }

    ul {
        padding-left: 18px;
    }

    li {
        font-size: 12px;
    }

    p {
        font-size: 12px;
    }

    /* .auto-height > ul > li {
        font-size: 12px;
    } */

    .timeline-dot {
        min-width: 16px;
        min-height: 16px;

        width: 16px;
        height: 16px;
    }
    
    .timeline-line {
        margin-left: 6px;
        margin-right: 6px;
    }

    .timeline-content {
        padding-top: 3px;
    }

    #bar {
        width: 50%;
    }

    progress {
        height: 10px;
        width: 50%;
    }

    .side-field {
        position: unset;
    }
    
    .side-field ::ng-deep app-card #card {
        width: unset;
        height: unset;
    
        position: unset;
    }
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 12px;
    }

    .grid-item  {
        width: 340px;
    }
    
    .timeline-content>.section-value {
        justify-content: left;
        flex-direction: column;
        align-items: start;

        padding-bottom: 10px;
    }
    
    .timeline-content>.section-value>.section-extra {
        position: unset;
        text-align: left;
    }
    
    .section-extra {
        font-size: 12px;
    }

    .saving .side-field ::ng-deep app-card #card {
        width: unset;
        height: unset;
    
        position: unset;
        top: unset;
    }
    
    .saving .side-field {
        display: unset;
        position: unset;
    }
}


@keyframes progressBar {
    0% { 
        width: 0%; 
    }
    100% { 
        width: 100%; 
    }
}