* {
    transition: all 0.2s ease-in-out;
}

p {
    margin-top: 0px;

    font-size: 16px;
}

.card div {
    width: 100%;
    overflow-x: hidden;
}

.image {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 30px;
}

.me {
    width: 150px;
    height: 150px;
    
    clip-path: circle(50% at 50% 50%);

    object-fit: cover;

    /* cursor: pointer; */
}

.card-name {
    opacity: 0.4;
    font-size: 14px;
}

#content {
    width: 1300px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: gold; */
}

#download {
    align-self: center;
    margin: 50px;
    width: 200px;
    height: 50px;
    border: none;

    font-weight: 500;

    background-color: var(--white1);
    color: var(--dark3);
}

.animated-card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9); */
}

.grid-content {
    display: grid;
    grid-template-columns: 300px 800px;

    gap: 20px;
}

.section-spacing {
    margin-top: 18px;
}

.section-name {
    margin-top: 18px;

    opacity: 0.4;
    font-size: 14px;

    display: flex;
    position: relative;
    align-items: center;
}

.section-name > .section-extra {
    opacity: 1.0;
}

.section-value {
    font-size: 18px;

    display: flex;
    position: relative;
    align-items: center;
}

ul {
    margin-top: 0px;
    padding-left: 20px;
}

li {
    font-size: 16px;
}

.section-extra {
    font-size: 14px;

    width: 100%;
    opacity: 0.5;
    text-align: right;
    position: absolute;

    /* top: 0; */
    right: 0;
    bottom: 1px;
}

.grid-item {
    display: flex;
    gap: 20px;

    flex-direction: column;
}

.side-field {
    display: flex;
    position: relative;

    /* background-color: aqua; */
}

.side-field ::ng-deep app-card #card {
    width: 100%;
    height: 100%;

    position: absolute;

    align-items: start;
}

.auto-height {
    height: auto;
    padding-bottom: 10px;
}

.linebreak {
    width: 80%;
    height: 1px;
    opacity: 0.6;

    margin-left: auto;
    margin-right: auto;

    justify-self: center;
}

.grid-linebreak {
    display: none;
}

.section-linebreak {
    margin-top: 20px;
}

.line-white {
    background-color: var(--alpha-dark);
}

.line-dark {
    background-color: var(--alpha-white);
}

.timeline-item {
    width: 100%;
    height: auto;
    min-height: 120px;

    float: left;

    display: flex;
    flex-direction: row;
    /* position: relative; */

    gap: 10px;
}

.timeline-head {
    max-width: fit-content;
    height: inherit;

    display: flex;
    flex-direction: column;
}

.timeline-dot {
    min-width: 18px;
    min-height: 18px;

    width: 18px;
    height: 18px;

    top: 0;
    left: 0;

    /* border: 4px solid var(--alpha-dark); */
    border: 4px solid var(--scheme-color);
    border-radius: 50%;
    margin-top: 2px;
    margin-bottom: 2px;

    display: inline-block;

    background-color: transparent;
}

.timeline-line {
    width: 4px;
    height: 100%;

    margin-left: 7px;
    margin-right: 7px;

    /* opacity: 0.5; */
    /* background-color: var(--alpha-dark); */
    background-color: var(--scheme-color);

    border-radius: 10px;
}

.timeline-content {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;

    padding-top: 2px;

    border-radius: 10px;
}

.timeline-content > .section-name {
    margin-top: 0px;
    margin-bottom: 10px;
}

.timeline-content > .auto-height {
    padding-left: 5px;
}

/* .darktheme .timeline-dot {
    border: 4px solid var(--alpha-white);
}

.darktheme .timeline-line {
    background-color: var(--alpha-white);
} */


mat-progress-bar {
    height: 10px;
    width: 70%;

    display: inline-block;

    right: 0;
    margin-left: auto;
}

:host ::ng-deep mat-progress-bar .mdc-linear-progress__bar-inner {
    border-color: var(--scheme-color);
    border-top-width: 20px; /* full height */

    /* border-radius: 1000px; */
}


@media only screen and (max-width: 1200px) {
    .grid-content {
        grid-template-columns: 200px 600px;
    
        /* gap: 40px; */
    }

    .me {
        width: 100px;
        height: 100px;
    }
    
    .section-name, .card-name {
        font-size: 10px;
    }
    
    .section-name, .section-linebreak {
        margin-top: 15px;
    }
    
    .section-value {
        font-size: 14px;
    }
    
    .section-extra {
        font-size: 12px;
    }

    ul {
        padding-left: 16px;
    }

    li {
        font-size: 12px;
    }

    p {
        font-size: 12px;
    }

    .timeline-dot {
        min-width: 14px;
        min-height: 14px;

        width: 14px;
        height: 14px;
    }
    
    .timeline-line {
        margin-left: 5px;
        margin-right: 5px;
    }

    mat-progress-bar {
        height: 8px;
        /* width: 70%; */
    }
}

@media only screen and (max-width: 900px) {
    .grid-content {
        display: flex;
        grid-template-columns: unset;
        flex-direction: column;

        justify-content: center;
    
        /* gap: 20px; */
    }

    .grid-item  {
        width: 500px;
    }

    .me {
        width: 120px;
        height: 120px;
    }
    
    .section-name, .card-name {
        font-size: 12px;
    }
    
    .section-value {
        font-size: 16px;
    }
    
    .section-extra {
        font-size: 14px;
    }

    .grid-linebreak {
        display: block;
    }

    ul {
        padding-left: 18px;
    }

    li {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    /* .auto-height > ul > li {
        font-size: 12px;
    } */

    .timeline-dot {
        min-width: 16px;
        min-height: 16px;

        width: 16px;
        height: 16px;
    }
    
    .timeline-line {
        margin-left: 6px;
        margin-right: 6px;
    }

    .timeline-content {
        padding-top: 3px;
    }

    mat-progress-bar {
        height: 10px;
        width: 65%;
    }

    .side-field {
        position: unset;
    }
    
    .side-field ::ng-deep app-card #card {
        width: unset;
        height: unset;
    
        position: unset;
    }
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 12px;
    }

    .grid-item  {
        width: 300px;
    }
    
    .section-extra {
        font-size: 12px;
    }

    mat-progress-bar {
        width: 50%;
    }
}