<app-page>
    <div id="content" class="white-theme" [ngClass]="{'dark-theme': theme.is_dark}">

        <div class="grid-content">
            <div class="side-field grid-item">
                <app-card class="card">
                    <div class="personal">
                        <!-- <div class="card-name">Personal information</div> -->

                        <div class="image">
                            <img class="me" src="assets/images/me-rotated.jpg" /> 
                        </div>

                        <div class="section-linebreak linebreak" [ngClass]="{'line-dark': theme.is_dark, 'line-white': !theme.is_dark}"></div>

                        <div class="section-name">Name</div>
                        <div class="section-value">
                            Peeradon Rungkanawut
                        </div>
                        
                        <div class="section-name">Email</div>
                        <div class="section-value">
                            thestampmc@gmail.com
                        </div>

                        <div class="section-name">Phone number</div>
                        <div class="section-value">
                            090-935-1529
                        </div>

                        <div class="section-name">Gender</div>
                        <div class="section-value">
                            Male
                        </div>

                        <div class="section-name">Nationality</div>
                        <div class="section-value">
                            Thai
                        </div>

                        <div class="section-linebreak linebreak" [ngClass]="{'line-dark': theme.is_dark, 'line-white': !theme.is_dark}"></div>

                        <div class="section-name">Interests</div>
                        <div class="section-value">
                            <ul>
                                <li>Programming</li>
                                <li>Traveling</li>
                                <li>Movies</li>
                            </ul>
                        </div>

                        <div class="linebreak" [ngClass]="{'line-dark': theme.is_dark, 'line-white': !theme.is_dark}"></div>

                        <div class="section-name">Languages</div>
                        <div class="section-value">
                            English
                            <div class="section-extra">
                                Advance
                            </div>
                        </div>

                        <div class="section-name">Toeic</div>
                        <div class="section-value">
                            520
                            <div class="section-extra">
                                7 Apr 2023
                            </div>
                        </div>

                    </div>
                </app-card>
            </div>

            <!-- <div class="grid-linebreak linebreak" [ngClass]="{'line-dark': theme.is_dark, 'line-white': !theme.is_dark}"></div> -->

            <div class="content-field grid-item">
                <app-card class="card">
                    <div class="auto-height">
                        <div class="card-name">About me</div>
                        <div class="linebreak" [ngClass]="{'line-dark': theme.is_dark, 'line-white': !theme.is_dark}"></div>

                        <div class="section-spacing"></div>
                        <p>
                            <!-- I graduated from RMUTT, a bachelor degree of engineering in electronic major. <br> -->
                            <!-- I am interested in programming, I have started learning by myself since 2017. <br> -->
                            Good Python developer with knowledge of OOP, Type-Hint, and MongoDB.
                            Also, I am interested in the Angular framework for front-end development.
                            I'm happy to code, debug, and write some documentation. <br>
                            <!-- Open to learn and work for Angular developer position. -->
                        </p>

                        <!-- <div class="linebreak" [ngClass]="{'line-dark': theme.is_dark, 'line-white': !theme.is_dark}"></div>

                        <div class="section-name">Career Objective</div>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni numquam quasi minus quaerat dignissimos sit explicabo, assumenda temporibus necessitatibus! Perferendis consequuntur quisquam, odit velit provident dolore vitae voluptate? Libero, aliquid.
                        </p> -->
                        
                    </div>
                </app-card>
                <app-card class="card">
                    <div class="auto-height">
                        <div class="card-name">Skills</div>
                        <div class="linebreak" [ngClass]="{'line-dark': theme.is_dark, 'line-white': !theme.is_dark}"></div>

                        <div class="section-spacing"></div>
                        <div class="section-value">
                            C, Cpp
                            <mat-progress-bar mode="determinate" value="70" />
                            <!-- <div class="section-extra">
                                Experienced
                            </div> -->
                        </div>
                        
                        <div class="section-spacing"></div>
                        <div class="section-value">
                            Python
                            <mat-progress-bar mode="determinate" value="85" />
                            <!-- <div class="section-extra">
                                Experienced
                            </div> -->
                        </div>
                        
                        <div class="section-spacing"></div>
                        <div class="section-value">
                            TypeScript
                            <mat-progress-bar mode="determinate" value="50" />
                            <!-- <div class="section-extra">
                                Intermediate
                            </div> -->
                        </div>
                        
                        <div class="section-spacing"></div>
                        <div class="section-value">
                            Angular
                            <mat-progress-bar mode="determinate" value="40" />
                            <!-- <div class="section-extra">
                                Intermediate
                            </div> -->
                        </div>
                        
                        <div class="section-spacing"></div>
                        <div class="section-value">
                            Self-Learning
                            <mat-progress-bar mode="determinate" value="99" />
                            <!-- <div class="section-extra">
                                Expert
                            </div> -->
                        </div>
                    </div>
                </app-card>
                <app-card class="card">
                    <div class="auto-height">
                        <div class="card-name">Work Experiences</div>
                        <div class="linebreak" [ngClass]="{'line-dark': theme.is_dark, 'line-white': !theme.is_dark}"></div>
                        <div class="section-spacing"></div>

                        <div class="timeline-item" [ngClass]="{'darktheme': theme.is_dark}">
                            <div class="timeline-head">
                                <span class="timeline-dot"></span>
                                <span class="timeline-line"></span>
                            </div>
                            <div class="timeline-content">
                                <div class="section-name">2019 - 2020</div>
                                <div class="section-value">
                                    3D Designer
                                    <div class="section-extra">Freelance</div>
                                </div>
                                <!-- <div class="section-name">Work from home</div> -->
                                <div class="auto-height">
                                    <ul>
                                        <li>3D modeling in Blender</li>
                                        <li>Lighting, rendering and compositing</li>
                                        <li>Design advertisment poster</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="timeline-item" [ngClass]="{'darktheme': theme.is_dark}">
                            <div class="timeline-head">
                                <span class="timeline-dot"></span>
                                <span class="timeline-line"></span>
                            </div>
                            <div class="timeline-content">
                                <div class="section-name">2020 - Present</div>
                                <div class="section-value">
                                    Developer
                                    <div class="section-extra">self-employed</div>
                                </div>
                                <div class="auto-height">
                                    <ul>
                                        <li>A discord music application that supports <b>YouTube</b>, <b>Spotify</b>, <b>SoundCloud</b>, and <b>Last.fm </b>                                       </li>
                                        <li>Using discord.py lib, Google, Spotify api and database <b>MongoDB</b>.</li>
                                        <li>UX design and development.</li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->

                        <div class="timeline-item" [ngClass]="{'darktheme': theme.is_dark}">
                            <div class="timeline-head">
                                <span class="timeline-dot"></span>
                                <span class="timeline-line"></span>
                            </div>
                            <div class="timeline-content">
                                <div class="section-name">Jan - Oct 2022</div>
                                <div class="section-value">
                                    Internship
                                    <div class="section-extra">Cooperative Education</div>
                                </div>
                                <!-- <div class="section-name">RealAdvance</div> -->
                                <div class="auto-height">
                                    <ul>
                                        <li>C, Cpp programmer (main)</li>
                                        <li>Reserch & development</li>
                                        <li>Photoshop man</li>
                                        <li>IT support</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="section-name">Present</div>

                    </div>
                </app-card>
                <app-card class="card">
                    <div class="auto-height">
                        <div class="card-name">Educations</div>
                        <div class="linebreak" [ngClass]="{'line-dark': theme.is_dark, 'line-white': !theme.is_dark}"></div>
                        <div class="section-spacing"></div>
                        
                        <div class="timeline-item" [ngClass]="{'darktheme': theme.is_dark}">
                            <div class="timeline-head">
                                <span class="timeline-dot"></span>
                                <span class="timeline-line"></span>
                            </div>
                            <div class="timeline-content">
                                <div class="section-name">2013 - 2018</div>
                                <div class="section-value">
                                    Prachinratsadornamroong School
                                </div>
                                <div class="section-name">High School Certificate</div>
                            </div>
                        </div>

                        <div class="timeline-item" [ngClass]="{'darktheme': theme.is_dark}">
                            <div class="timeline-head">
                                <span class="timeline-dot"></span>
                                <span class="timeline-line"></span>
                            </div>
                            <div class="timeline-content">
                                <div class="section-name">2019 - Apr 2023</div>
                                <div class="section-value">
                                    Rajamangala University of Technology Thanyaburi
                                </div>
                                <div class="section-name">Bachelor of Engineering</div>
                            </div>
                        </div>
                        <div class="section-name">Present</div>

                    </div>
                </app-card>
            </div>
        </div>

        <button id="download" class="animated-btn" (click)="backend.DownloadResume()">
            Download Resume 
        </button>
    </div>
    <app-footer />
</app-page>