:root {
    --dark1: #111111;
    --dark2: #1c1c1c;
    --dark3: #252525;
    --dark4: #404040;

    --white1: #FFFFFF;
    --white2: #E9E9E9;
    --white3: #E0E0E0;
    --white4: #C1C1C1;

    --alpha-dark: rgba(28, 28, 28, 0.2);
    --alpha-white: rgba(255, 255, 255, 0.2);
}


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;

    transition: background-color 0.2s ease-in-out;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-margin: 5px;
    scroll-behavior: smooth;

    cursor: default;
    
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*:focus {
    outline: none !important;
}

html, body {
    margin: 0;
    height: 100%;
    min-width: 400px;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

body {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

footer {
    min-height: 200px;
    bottom: 0;
}

button {
    border-radius: 100px;
    cursor: pointer;

    min-width: 100px;
    min-height: 50px;
    padding: 5px;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

h1 {
    text-align: center;
}

.animated-btn {
    transition: scale 0.15s ease-in-out, box-shadow 0.3s ease-in-out;
}

.animated-btn:hover {
    scale: 1.02;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12);
}

.animated-btn:active {
    scale: 0.98;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.white-theme * {
    color: var(--dark3);
}

.dark-theme * {
    color: var(--white3);
}

.white-theme button {
    border: 1px solid var(--alpha-dark);
    background-color: var(--white1);
}

.dark-theme button {
    border: 1px solid var(--alpha-white);
    background-color: var(--dark3);
}

.whitepage {
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(28, 28, 28, 0.2);
    color: var(--dark3);
}

.darkpage {
    background: rgba(28, 28, 28, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--white3);
}


/* webkit */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;

    overflow: scroll;
    margin: 3px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: solid 3px transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    background-clip: padding-box;
}


/* Cdk */
#CdkMenu {
    max-height: 300px;
    
    border-radius: 10px;
    padding: 2px;

    display: flex;
    flex-direction: column;
}

#CdkMenuItem {
    min-width: 200px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    padding-bottom: 0px;

    font-size: 14px;
}

#CdkMenu:last-child {
    padding-bottom: 10px;
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
    #CdkMenuItem {
        min-width: 175px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    #CdkMenuItem {
        min-width: 150px;
        font-size: 10px;
    }
}



/* component

    usage: <div class="separator">text</div>
*/
.separator {
    display: flex;
    align-items: center;
    text-align: center;

    margin: 100px;

    width: 200px;
}
  
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
  
.separator:not(:empty)::before {
    margin-right: .25em;
}
  
.separator:not(:empty)::after {
    margin-left: .25em;
}