@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    --dark1: #17181e;
    --dark2: #1f2129;
    --dark3: #272934;
    --dark4: #36383f;

    --white1: #FFFFFF;
    --white2: #EFEFEF;
    --white3: #E0E0E0;
    --white4: #C1C1C1;
    --white5: #a6a6a6;

    --alpha-dark: rgba(31, 33, 41, 0.2);
    --alpha-dark2: rgba(31, 33, 41, 0.75);
    
    --alpha-white: rgba(255, 255, 255, 0.1);
    --alpha-white2: rgba(255, 255, 255, 0.75);

    --scheme-color: #7C83C8;
    --alpha-scheme-color: rgba(124, 131, 200, 0.2);

    --rounded: 20px;
}


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    outline: none;

    transition: background-color 0.2s ease-in-out, 
    color 0.2s ease-in-out, 
    filter 0.5s ease-in-out, 
    -moz-filter 0.5s ease-in-out, 
    -webkit-filter 0.5s ease-in-out, 
    -o-filter 0.5s ease-in-out;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-margin: 5px;
    scroll-behavior: smooth;

    cursor: default;

    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*:focus {
    outline: none !important;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

html {
    margin: 0;
    
    /* background-color: aqua; */
}

body {
    /* display: flex;
    flex-direction: column; */

    overflow: hidden;
    /* overflow: scroll; */

    /* background-color: red; */
}

nav * {
    cursor: pointer;
}

button {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:not(.ContextMenu-Item, .mat-mdc-snack-bar-container) {
    border-radius: 100px;
    cursor: pointer;

    min-width: 100px;
    min-height: 50px;

    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: 400;
}

h1 {
    text-align: center;
}

.blur {
    filter: blur(5px);
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
}

.animated-btn {
    transition: scale 0.15s ease-in-out, box-shadow 0.3s ease-in-out;
}

.animated-btn:hover {
    scale: 1.02;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12);
}

.animated-btn:active {
    scale: 0.98;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.clickable {
    cursor: pointer;
}

.white-theme {
    background-color: var(--white3);
}

.dark-theme {
    background-color: var(--dark1);
}

.white-theme * {
    color: var(--dark3);
}

.dark-theme * {
    color: var(--white3);
}

.white-theme button {
    /* border: 1px solid var(--alpha-dark);
    background-color: var(--white1); */

    border: none;
    color: var(--dark3);
    background-color: var(--white1);

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dark-theme button {
    /* border: 1px solid var(--alpha-white);
    background-color: var(--dark3); */

    border: none;
    color: var(--white1);
    background-color: var(--dark3);

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.white-theme .dropshadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dark-theme .dropshadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.whitepage {
    background-color: var(--white3);
    border: 1px solid var(--alpha-dark);
    color: var(--dark2);
}

.darkpage {
    background-color: var(--dark2);
    border: 1px solid var(--alpha-white);
    color: var(--white3);
}

/* same as .white-theme button */
.white-btn {
    border: none;
    color: var(--dark3);
    background-color: var(--white1);

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* same as .dark-theme button */
.dark-btn {
    border: none;
    color: var(--white1);
    background-color: var(--dark3);

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}


/* webkit */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;

    /* overflow: scroll; */
    margin: 3px;
    display: block;
    /* display: none; */

    /* border-radius: 100px; */

    transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-track {
    background-color: transparent;

    /* background-color: red; */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 100px;
    border: solid 3px transparent;
    background-clip: padding-box;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.white-theme::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

.white-theme::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.white-theme::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.4);
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
    ::-webkit-scrollbar {
        width: 25px;

        display: none;
    }

    ::-webkit-scrollbar-thumb, 
    ::-webkit-scrollbar-thumb:hover, 
    ::-webkit-scrollbar-thumb:active, 
    .white-theme::-webkit-scrollbar-thumb, 
    .white-theme::-webkit-scrollbar-thumb:hover, 
    .white-theme::-webkit-scrollbar-thumb:active {
        background-color: transparent;
    }
}

@media only screen and (max-width: 600px) {
}


/* Cdk */
/* #CdkMenu {
    max-height: 300px;
    
    border-radius: 10px;
    padding: 2px;

    display: flex;
    flex-direction: column;

    transition: all none;
}

#CdkMenu button {
    border-radius: 5px;

    min-width: 200px;
    min-height: unset;
    padding: 5px;
    
    box-shadow: unset;
    font-weight: unset;
}

#CdkMenuItem {
    min-width: 200px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    padding-bottom: 0px;

    font-size: 14px;
}

#CdkMenu:last-child {
    padding-bottom: 10px;
} */

mat-progress-bar {
    border-radius: 100px;
}

:host ::ng-deep mat-progress-bar .mdc-linear-progress__bar-inner {
    border-color: var(--scheme-color);
    border-top-width: 1000px; /* full height */
}

.ContextMenu {
    display: inline-flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 300px;
    
    /* From https://css.glass */
    background-color: rgba(37, 37, 37, 0.8);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid var(--alpha-white);
    border-radius: 5px;
    overflow: hidden;

    animation: fadeIn ease 0.2s;
}

.ContextMenu-Item {
    min-width: 100px;

    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
    border: none;
  
    user-select: none;
    line-height: 36px;

    padding: 0 16px;
    gap: 45px;

    z-index: 100;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

.ContextMenu-Item[role='menuitemcheckbox'] {
    padding-left: 30px;
}

.ContextMenu-Item[role='menuitemcheckbox'][aria-checked='true'] {
    background-color: rgba(255, 255, 255, 0.15);
}

.ContextMenu-Item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.ContextMenu-Item:active {
    background-color: #191919;
}

.ContextMenu-Separator {
    margin: 0 8px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 0.5px;
}

.ContextMenu-Span {
    width: 5px;
    right: 16px;
    position: absolute;
}

.mat-mdc-snack-bar-container {
    background-color: rgba(37, 37, 37, 0.8);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;

    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container button {
    box-shadow: none;
    background-color: transparent;
    border-radius: 5px;

    min-width: unset;
    min-height: unset;
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
    #CdkMenuItem {
        min-width: 175px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    #CdkMenuItem {
        min-width: 150px;
        font-size: 10px;
    }
}


/* component

    usage: <div class="separator">text</div>
*/
.separator {
    display: flex;
    align-items: center;
    text-align: center;

    margin: 100px;

    width: 200px;
}
  
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
  
.separator:not(:empty)::before {
    margin-right: .25em;
}
  
.separator:not(:empty)::after {
    margin-left: .25em;
}

.linebreak {
    width: 80%;
    height: 1px;
    opacity: 0.6;

    margin-left: auto;
    margin-right: auto;

    justify-self: center;
}

.line-white {
    background-color: var(--alpha-white);
}

.line-dark {
    background-color: var(--alpha-dark);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

.flex-container-item {
    min-width: 50%;
    width: 50%;
}

.icon-small {
    width: 45px !important;
    height: 45px !important;

    min-width: unset;
    min-height: unset;

    font-size: 20px !important;
    text-align: center;
    text-decoration: none;

    border: none;
    background-color: unset;
    box-shadow: none;

    margin-bottom: 5px !important;
    border-radius: 50% !important;
}

.icon-mid {
    width: 60px !important;
    height: 60px !important;

    min-width: unset;
    min-height: unset;

    font-size: 32px !important;
    text-align: center;
    text-decoration: none;
    padding-top: 12px !important;

    border: none;
    background-color: unset;
    box-shadow: none;

    margin-bottom: 5px !important;
    border-radius: 50% !important;
}

.icon-large {
    width: 80px !important;
    height: 80px !important;

    min-width: unset;
    min-height: unset;

    font-size: 46px !important;
    text-align: center;
    text-decoration: none;
    padding-top: 15px !important;

    border: none;
    background-color: unset;
    box-shadow: none;

    margin-bottom: 5px !important;
    border-radius: 50% !important;
}

.dark-theme .icon-small, .dark-theme .icon-mid, .dark-theme .icon-large {
    color: var(--white3);
}

.scroll-reveal {
    opacity: 0;
}

.revealed {
    opacity: 1;
    animation: WalkIn-from-right ease 1s;
}

/* directive component */
img[ModalView] {
    cursor: pointer;
}

.modal-bg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    display: flex;
    position: fixed;
    z-index: 1000;

    overflow: auto;

    justify-content: center;
    align-items: center;

    background: rgba(28, 28, 28, 0.75);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
    filter: drop-shadow(0 0px 20px rgba(0, 0, 0, 0.1));
    
    opacity: 0;
    visibility: hidden;

    animation: fadeIn ease 0.2s;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

#modal-image {
    width: 450px;
    height: 450px;

    margin: auto;
    display: block;
    
    margin: 50px;
    
    /* clip-path: circle(50% at 50% 50%); */
    border-radius: 50%;
    object-fit: cover;

    scale: 75%;
    opacity: 0;

    transition: 
    width 0.2s ease-in-out, 
    height 0.2s ease-in-out, 
    opacity 0.3s ease-in-out, 
    scale 0.3s ease;
}

#modal-close {
    width: auto;

    position: absolute;

    top: 20px;
    left: 20px;

    font-size: 20px;
    padding: 0;
}

.modal-bg.open {
    opacity: 1;
    visibility: visible;
}

.modal-bg.open>#modal-image {
    scale: 100%;
    opacity: 1;
}


@media only screen and (max-width: 1200px) {
    #modal-image {
        width: 350px;
        height: 350px;
    }
}

@media only screen and (max-width: 900px) {
    .flex-container-item {
        width: 100%;
    }
    
    .icon-large {
        width: 60px;
        height: 60px;
    
        font-size: 32px !important;
        padding-top: 12px;
    }

    .icon-mid {
        width: 52px;
        height: 52px;
    
        font-size: 25px !important;
        padding-top: 9px;
    }
    
    #modal-image {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 600px) {
}


/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn-popup {
    0% {
        opacity: 0;
        scale: 75%;
    }
    100% {
        opacity: 1;
        scale: 100%;
    }
}

@keyframes fadeOut-popup {
    0% {
        opacity: 1;
        scale: 100%;
    }
    100% {
        opacity: 0;
        scale: 75%;
    }
}

@keyframes WalkIn {
    0% {
        opacity: 0;
        /* margin-top: 20px; */
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        /* margin-top: 10px; */
        transform: translateY(0px);
     }
}

@keyframes WalkIn-from-right {
    0% {
        opacity: 0;
        /* margin-top: 20px; */
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        /* margin-top: 10px; */
        transform: translateX(0px);
     }
}